<style>
    tr{
        border-top-style: hidden;
    }
    #cpw-card{
        margin-top: 2rem;
    }
</style>
<div class="container mundb-standard-container">
    <div class="card">
        <div class="card-header">
            个人资料 - 编辑
        </div>
        <div class="card-body">
            <div class="row">
                <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <{if isset($portrait)}> 
                    <img src="<{$portrait}>" alt="head">
                    <{else}>
                    <h1>头像</h1>
                    <{/if}>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#portrait_upload" aria-expanded="false" aria-controls="portrait_upload">
                            更改头像
                        </a>
                    </p>
                    <div class="collapse" id="portrait_upload">
                        <div class="container">
                            <form action="?action=upload_portrait" method="POST">
                                <div class="form-group">
                                    <label class="btn btn-default" for="portrait">浏览本地文件</label>
                                    <input type="file" class="form-control-file" name="portrait" id="portrait" placeholder="" aria-describedby="fileHelpId" style="display:none" required>
                                    <small id="fileHelpId" class="form-text text-muted">支持.jpg .png等图片文件</small>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">确认上传</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <{if isset($portrait_upload_info)}>
                    <small class="<{if isset($portrait_upload_info_type)}><{$portrait_upload_info_type}><{else}>text-primary<{/if}>"><{$portrait_upload_info}></small>
                    <{/if}>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                    <div class="container">
                        <form id="profile-edit" action="?action=edit_profile" method="POST" class="needs-validation"  novalidate> 
                            <div class="form-group">
                                <label for="name" class="bmd-label-floating">用户名</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                                <div class="invalid-feedback">用户名不能为空</div>
                            </div>
                            <div class="form-group">
                                <label for="real_name" class="bmd-label-floating">真实姓名</label>
                                <input type="text" name="real_name" class="form-control" id="real_name">
                            </div>
                            
                            <div class="form-group" style="padding-top: 2.75rem;">
                                <label for="gender" class="bmd-label-floating">性别</label>
                    
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" id="gender_0" value="0" <{if isset($gender)&&gender==0}>checked
                                        <{/if}> required>保密
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" id="gender_1" value="1" <{if isset($gender)&&gender==1}>checked
                                        <{/if}> required>男
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" id="gender_2" value="2" <{if isset($gender)&&gender==2}>checked
                                        <{/if}> required>女
                                    </label>
                                </div>
                            </div>
                            <div class="card-footer text-muted text-right">
                                <a class="btn btn-default" href="/account/profile">返回</a>
                                <button type="submit" class="btn btn-danger">确认编辑</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="cpw-card">
        <div class="card-header">
            更改密码
        </div>
        <div class="card-body">
            <form class="needs-validation" action="?action=change_password" method="post" novalidate>
                <div class="card-body">
                    <div class="form-group">
                        <label for="old-password" class="bmd-label-floating">旧密码</label>
                        <input type="password" name="old-password" class="form-control" id="old-password" required>
                        <div class="invalid-feedback">请填写旧密码</div>
                    </div>
                    <div class="form-group">
                        <label for="new-password" class="bmd-label-floating">新密码</label>
                        <input type="password" name="new-password" class="form-control" id="new-password" required>
                        <div class="invalid-feedback">密码不能为空</div>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password" class="bmd-label-floating">确认新密码</label>
                        <input type="password" name="confirm-password" class="form-control" id="confirm-password" required>
                        <div class="invalid-feedback">输入不正确</div>
                    </div>
                </div>
                <{if isset($cpw_err)}>
                <div class="alert alert-danger alert-dismissible show text-center" role="alert">
                    <{$cpw_err}>
                </div>
                <{/if}>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-danger">确认更改</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
var forms = document.getElementsByClassName('needs-validation');
var validation = Array.prototype.filter.call(forms, function (form) {
    form.addEventListener('submit', function (event) {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
    }, false);

}, false);
</script>