<style>
    tr{
        border-top-style: hidden;
    }
    #cpw-card{
        margin-top: 2rem;
    }
    .image-placeholder{
        font-size: 5rem;
        font-weight: bolder;
    }
</style>
<div class="container mundb-standard-container">
    <div class="card">
        <div class="card-header">
            个人资料 - 编辑
        </div>
        <div class="card-body">
            <{if isset($err_info)}>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="MDI alert"></i> <{$err_info}>
            </div>
            <{/if}>
            <{if isset($success_info)}>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="MDI check"></i> <{$success_info}>
            </div>
            <{/if}>
            <div class="row">
                <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <{if isset($portrait)}> 
                    <img class="img-fluid" src="/file/img/<{$portrait}>.jpg" alt="head">
                    <{else}>
                    <span class="image-placeholder"><i class="MDI image"></i></span>
                    <{/if}>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#portrait_upload" aria-expanded="false" aria-controls="portrait_upload">
                            更改头像
                        </a>
                    </p>
                    <div class="collapse" id="portrait_upload">
                        <div class="container">
                            <form action="?action=upload_portrait" method="POST" enctype="multipart/form-data" >
                                <div class="form-group">
                                    <label id="portrait_upload_tip" class="btn btn-danger" for="portrait"><i class="MDI folder-image"></i> 浏览本地文件</label>
                                    <input type="file" class="form-control-file" name="portrait" id="portrait" placeholder="" aria-describedby="fileHelpId" style="display:none" required>
                                    <small id="fileHelpId" class="form-text text-muted">仅支持.jpg图片文件</small>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">确认上传</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                    <div class="container">
                        <form id="profile-edit" action="?action=edit_profile" method="POST" class="needs-validation"  novalidate> 
                            <div class="form-group">
                                <label for="name" class="bmd-label-floating">用户名</label>
                                <input type="text" name="name" class="form-control" id="name" value="<{if isset($name)}><{$name}><{/if}>" required>
                                <div class="invalid-feedback">用户名不能为空</div>
                            </div>
                            <div class="form-group">
                                <label for="real_name" class="bmd-label-floating">真实姓名</label>
                                <input type="text" name="real_name" class="form-control" id="real_name"  value="<{if isset($real_name)}><{$real_name}><{/if}>" >
                            </div>
                            <div class="form-group">
                                <label for="department" class="bmd-label-floating">所在部门</label>
                                <input type="text" name="department" class="form-control" id="department"  value="<{if isset($department_name)}><{$department_name}><{/if}>" >
                            </div>
                            <div class="card-footer text-muted text-right">
                                <a class="btn btn-default" href="/account/profile">返回</a>
                                <button type="submit" class="btn btn-danger"><i class="MDI check"></i> 确认编辑</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="cpw-card">
        <div class="card-header">
            更改密码
        </div>
        <div class="card-body">
            <form class="needs-validation" action="?action=change_password" method="post" novalidate>
                <div class="card-body">
                    <div class="form-group">
                        <label for="old-password" class="bmd-label-floating">旧密码</label>
                        <input type="password" name="old-password" class="form-control" id="old-password" required>
                        <div class="invalid-feedback">请填写旧密码</div>
                    </div>
                    <div class="form-group">
                        <label for="new-password" class="bmd-label-floating">新密码</label>
                        <input type="password" name="new-password" class="form-control" id="new-password" required>
                        <div class="invalid-feedback">密码不能为空</div>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password" class="bmd-label-floating">确认新密码</label>
                        <input type="password" name="confirm-password" class="form-control" id="confirm-password" required>
                        <div class="invalid-feedback">输入不正确</div>
                    </div>
                </div>
                <{if isset($cpw_err)}>
                <div class="alert alert-danger alert-dismissible show text-center" role="alert">
                    <{$cpw_err}>
                </div>
                <{/if}>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-danger"><i class="MDI check"></i> 确认更改</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
var forms = document.getElementsByClassName('needs-validation');
var validation = Array.prototype.filter.call(forms, function (form) {
    form.addEventListener('submit', function (event) {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
    }, false);

}, false);

$('#portrait').change(function () {
    var file = this.files[0];
    var filename = $('#portrait').val().split('\\').pop();
    var extension = filename.split('.').pop();
    if(extension != 'jpg'){
        $('#fileHelpId').text('只允许上传jpg类型的图片文件!');
        $('#portrait_upload_tip').removeClass('btn-success').addClass('btn-danger');
    }else{
        $('#fileHelpId').text('已选择: '+filename);
        $('#portrait_upload_tip').removeClass('btn-danger').addClass('btn-success');
    }
});
</script>