<style>
    tr{
        border-top-style: hidden;
    }
</style>
<div class="container mundb-standard-container">
    <div class="card">
        <div class="card-header">
            个人资料 - 编辑
        </div>
        <div class="card-body">
            <div class="row">
                <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <{if isset($portrait)}> 
                    <img src="<{$portrait}>" alt="head">
                    <{else}>
                    <h1>头像</h1>
                    <{/if}>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#portrait_upload" aria-expanded="false" aria-controls="portrait_upload">
                            更改头像
                        </a>
                    </p>
                    <div class="collapse" id="portrait_upload">
                        <div class="container">
                            <form action="?action=upload_portrait" method="POST">
                                <div class="form-group">
                                    <label class="btn btn-default" for="portrait">浏览本地文件</label>
                                    <input type="file" class="form-control-file" name="portrait" id="portrait" placeholder="" aria-describedby="fileHelpId" style="display:none" required>
                                    <small id="fileHelpId" class="form-text text-muted">支持.jpg .png等图片文件</small>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">确认上传</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <{if isset($portrait_upload_info)}>
                    <small class="<{if isset($portrait_upload_info_type)}><{$portrait_upload_info_type}><{else}>text-primary<{/if}>"><{$portrait_upload_info}></small>
                    <{/if}>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                    <div class="container">
                        <form id="profile-edit" action="?action=edit_profile" method="POST">
                            <div class="form-group row">
                                <label for="name" class="bmd-label-floating">用户名</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                                <div class="invalid-feedback">用户名不能为空</div>
                            </div>
                            <div class="form-group row">
                                <label for="real_name" class="bmd-label-floating">真实姓名</label>
                                <input type="text" name="real_name" class="form-control" id="real_name">
                            </div>
                            
                            <div class="form-group" style="padding-top: 2.75rem;">
                                <label for="gender" class="bmd-label-floating">性别</label>
                    
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" id="gender_0" value="0" <{if isset($gender)&&gender==0}>checked
                                        <{/if}> required>保密
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" id="gender_1" value="1" <{if isset($gender)&&gender==1}>checked
                                        <{/if}> required>男
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" id="gender_2" value="2" <{if isset($gender)&&gender==2}>checked
                                        <{/if}> required>女
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-right">
            <a class="btn btn-default" href="/account/profile">返回</a>
            <button type="button" class="btn btn-danger" onclick="submit_edit()">确认编辑</button>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            更改密码
        </div>
        <div class="card-body">
            //TODO..
        </div>
        <div class="card-footer text-muted text-right">
            <a class="btn btn-default" href="/account/profile">返回</a>
            <button type="button" class="btn btn-danger" onclick="submit_edit()">提交更改</button>
        </div>
    </div>
</div>
<script>
function submit_edit(){
    $('#profile-edit').submit();
}
</script>