<style>
    tr{
        border-top-style: hidden;
    }
    #head{
        margin-bottom: 1rem;
    }
</style>
<div class="container mundb-standard-container">
    <div class="card">
        <div class="card-header">
            个人资料
        </div>
        <div class="card-body">
            <div class="row">
                <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <{if isset($portrait)}> 
                    <img id="head" class="img-fluid" src="/file/img/<{$portrait}>.jpg" alt="head">
                    <{else}>
                    <h1>头像</h1>
                    <{/if}>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td>学号</td>
                                <td><{if isset($SID)}><{$SID}><{else}>B11111111<{/if}></td>
                            </tr>
                            <tr>
                                <td>用户名</td>
                                <td><{if isset($name)}><{$name}><{else}>从不真香<{/if}></td>
                            </tr>
                            <tr>
                                <td>姓名</td>
                                <td><{if isset($real_name)}><{$real_name}><{else}>王境泽<{/if}></td>
                            </tr>
                            <{if isset($department_name)}>
                            <tr>
                                <td>部门</td>
                                <td><{$department_name}></td>
                            </tr>
                            <{/if}>
                            <tr>
                                <td>权限等级</td>
                                <td><{if isset($authority)}>
                                         <{if $authority==0}>
                                         普通用户
                                         <{elseif $authority==1}>
                                         审批员
                                         <{elseif $authority==2}>
                                         超级管理员
                                         <{else}>
                                         错误
                                         <{/if}>
                                    <{else}>普通用户
                                    <{/if}>
                                </td>
                            </tr>
                            <{if isset($authority_until)}>
                            <tr>
                                <td>权限有效至</td>
                                <td><{$authority_until}></td>
                            </tr>
                            <{/if}>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-right">
            <a href="/" class="btn btn-default">返回</a>
            <a href="/account/editprofile" class="btn btn-primary">编辑资料</a>
        </div>
    </div>
</div>
