<style>
.navbar{
    margin-bottom: 4rem;
}
</style>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand font-weight-bold" href="https://sast.njupt.edu.cn/" title="前往 SAST">SAST</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="https://mundb.xyz" title="前往@SAST">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">报销系统</a>
            </li>
        </ul>    
        <ul class="navbar-nav">
            <{if $islogin}>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">你好，<{ $display_name }></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/account/profile">我的资料</a>
                        <a class="dropdown-item" href="/Reimbursement/Initiate">发起报销</a>
                        <{if $allow_judge}>
                            <a class="dropdown-item" href="/Reimbursement/approval">开始审批</a>
                        <{/if}>
                        <{if $allow_judge||$isadmin}>
                            <a class="dropdown-item" href="/Reimbursement/Stat">统计</a>
                        <{/if}>
                        <{if $is_admin}>
                            <a class="dropdown-item" href="/admin">系统管理</a>
                        <{/if}>
                        <a class="dropdown-item" href="/account/logout">退出登陆</a>
                    </div>
                </li>
            <{else}>
            <a class="nav-link" href="/account">登陆 / 注册</a>
            <{/if}>
        </ul>
        
    </div>
</nav>