<style>
    .card{
        margin-top: 4rem;
    }
    tr{
        border-top-style: hidden;
    }
    textarea{
        resize: none;
    }
    body{
        margin-bottom: 4rem;
    }
    .invoice-choose{
        display: block;
    }
    td{
        text-align: center;
        vertical-align:middle;
    }
    .row{
        height: 100%;
    }
</style>
<{if isset($invoice_type)}>
<div class="container mundb-standard-container">
    <div class="card">
        <div class="card-header">
            发起报销
        </div>
        <div class="card-body">
            <form class="needs-validation" action="?action=initiate" method="post" id="reimburse_info" enctype="multipart/form-data" novalidate>
                <input type="hidden" name="invoice_type" value="<{$invoice_type}>">
                <div class="form-group">
                    <label for="name" class="bmd-label-floating">报销内容</label>
                    <input type="text" name="name" class="form-control" id="name" maxlength="255" required>
                    <div class="invalid-feedback">报销内容是必填字段！</div>
                </div>
                <div class="form-group">
                    <label for="remarks" class="bmd-label-floating">备注</label>
                    <textarea class="form-control" name="remarks" id="remarks" rows="5" required></textarea>
                    <div class="invalid-feedback">备注是必填字段！</div>
                </div>
                <div class="form-group">
                    <label for="department" class="bmd-label-floating">部门</label>
                    <input type="text" name="department" class="form-control" id="department" required> 
                    <div class="invalid-feedback">部门是必填字段！</div>
                </div>
                <div class="form-group">
                    <label for="money" class="bmd-label-floating">报销金额</label>
                    <input type="number" name="money" class="form-control" id="money" required>
                    <div class="invalid-feedback">金额是必填字段！</div>
                </div>
                <br>
                <div id="upload_tip" class="alert alert-warning alert-dismissible show text-center" role="alert">
                    <{if $invoice_type}>
                    请将纸质发票自行请送往指定地点。
                    <{else}>
                    请务必上传发票文件
                    <{/if}>
                </div>
                <br>
                <div class="row">
                    <{if !$invoice_type}>
                    <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label id="invoice_tip" class="btn btn-danger" for="invoice"><i class="MDI file-pdf-box"></i> 点这里上传发票</label>
                            <input type="file" class="form-control-file" name="invoice" id="invoice" aria-describedby="invoiceHelp" style="display: none">
                            <small id="invoiceHelp" class="form-text text-muted"> 请上传完整的pdf发票文件</small>
                        </div>
                    </div>
                    <{/if}>
                    <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label id="transaction_voucher_tip" class="btn btn-danger" for="transaction_voucher"><i class="MDI image"></i> 点这里上传交易凭证</label>
                            <input type="file" class="form-control-file" name="transaction_voucher" id="transaction_voucher" aria-describedby="transaction_voucherHelp" style="display: none">
                            <img id="preview_transaction_voucher" class="img-fluid" src="" class="img-fluid hidden"><small id="preview_tag" class="form-text text-muted" style="display: none">预览</small><br>
                            <small id="transaction_voucherHelp" class="form-text text-muted"> 请上传清晰的jpg图片文件</small>
                        </div>
                    </div>
                    <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label id="declaration_tip" class="btn btn-danger" for="declaration"><i class="MDI file-word-box"></i> 点这里上传申报单</label>
                            <input type="file" class="form-control-file" name="declaration" id="declaration" aria-describedby="declarationHelp" style="display: none">
                            <small id="declarationHelp" class="form-text text-muted"> 请上传docx文件</small>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a href="/Reimbursement/Initiate" class="btn btn-default">返回</a>
                    <button type="submit" class="btn btn-primary">发起</button>
                </div>
            </form>
        </div>
            
    </div>
</div>

<script>
$('#transaction_voucher').change(function() { 
    var file = this.files[0];
    var filename = $('#transaction_voucher').val().split('\\').pop();
    var extension = filename.split('.').pop();
    if(extension != 'jpg'){
        $('#transaction_voucherHelp').text('只允许上传jpg类型的图片文件!');
        $('#transaction_voucher_tip').removeClass('btn-success').addClass('btn-danger');
        $('#preview_transaction_voucher').fadeOut();
        $('#preview_tag').fadeOut();
    }else{
        $('#transaction_voucherHelp').text('已选择: '+filename);
        $('#transaction_voucher_tip').removeClass('btn-danger').addClass('btn-success');
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => {
            $('#preview_transaction_voucher').attr('src',reader.result).slideDown();
            $('#preview_tag').fadeIn();
        }
    }
    
});

$('#declaration').change(function() { 
    var filename = $('#declaration').val().split('\\').pop();
    var extension = filename.split('.').pop();
    if(extension != 'docx'){
        $('#declarationHelp').text('只允许上传docx类型的文件!');
        $('#declaration_tip').removeClass('btn-success').addClass('btn-danger');
    }else{
        $('#declarationHelp').text('已选择: '+filename);
        $('#declaration_tip').removeClass('btn-danger').addClass('btn-success');
    }
});

$('#invoice').change(function() { 
    var filename = $('#invoice').val().split('\\').pop();
    var extension = filename.split('.').pop();
    if(extension != 'pdf'){
        $('#invoiceHelp').text('只允许上传pdf类型的文件!');
        $('#invoice_tip').removeClass('btn-success').addClass('btn-danger');
    }else{
        $('#invoiceHelp').text('已选择: '+filename);
        $('#invoice_tip').removeClass('btn-danger').addClass('btn-success');
    }
});

$('#money').on('change', function () {
    if($(this).val() != ''){
        var money = parseInt($(this).val());
        $('#upload_tip').removeClass("alert-danger");
        $('#upload_tip').addClass("alert-warning");
        if(money < 0 ){
            $('#upload_tip').text("输入的金额不正确");
        }
        <{if $invoice_type}>
        if(money <= 199 && money >= 0){
            $('#upload_tip').html("请将纸质发票自行请送往指定地点。");
        }else if(money <= 499){
            $('#upload_tip').html("请将纸质发票自行请送往指定地点。<br>该额度必须上传交易凭证(支付截图等...)。");
        }else if(money <= 999){
            $('#upload_tip').html("请将纸质发票自行请送往指定地点。<br>该额度必须上传交易凭证(支付截图等...)<br>该额度必须上传申报单。");
        }else{
            $('#upload_tip').removeClass("alert-warning");
            $('#upload_tip').addClass("alert-danger");
            $('#upload_tip').text(<{if isset($GLOBALS['debug'])&&$GLOBALS['debug']}>"有内鬼，交易终止"<{else}>"风险过大拒绝交易！"<{/if}>);
        }
        <{else}>
        if(money <= 199 && money >= 0){
            $('#upload_tip').html("电子发票请务必上传发票文件");
        }else if(money <= 499){
            $('#upload_tip').html("电子发票请务必上传发票文件<br>该额度必须上传交易凭证(支付截图等...)。");
        }else if(money <= 999){
            $('#upload_tip').html("电子发票请务必上传发票文件<br>该额度必须上传交易凭证(支付截图等...)<br>该额度必须上传申报单。");
        }else{
            $('#upload_tip').removeClass("alert-warning");
            $('#upload_tip').addClass("alert-danger");
            $('#upload_tip').text(<{if isset($GLOBALS['debug'])&&$GLOBALS['debug']}>"有内鬼，交易终止"<{else}>"风险过大拒绝交易！"<{/if}>);
        }
        <{/if}>
        
    }
});

</script>


<{else}>
<div class="container">
    <div class="card">
        <div class="card-header">
            请选择发票类型
        </div>
        <{if isset($err_info) }>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p><strong><i class="iconfont icon-alert-circle"></i> <{$err_info}></strong></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="iconfont icon-close"></i></span>
            </button>
        </div>
        <{/if}>
        <div class="card-body invoice-type-choose">
                <table class="table" style="height:100%">
                    <tbody>
                        <tr>
                            <td><a class="invoice-choose btn btn-primary" href="?type=1" role="button"><i class="MDI script"></i> 纸质发票</a></td>
                            <td><a class="invoice-choose btn btn-primary" href="?type=0" role="button"><i class="MDI file-pdf-box"></i> 电子发票</a></td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="text-right card-footer text-muted">
            <a  class="btn btn-primary" href="/" role="button">返回首页</a>
        </div>
    </div>
</div>

<{/if}>