<div class="container">
    <div class="card">
        <div class="card-header">
            报销项目 - 编辑
        </div>
        <div class="card-body">
            <{if(!isset($error))}>
            <small class="text-muted">项目序号 - <{$rid}></small>

            <{if isset($err_info)}>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <{$err_info}>
            </div>
            <{/if}>

            <{if isset($success_info)}>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <{$success_info}>
            </div>
            <script>
                setTimeout(()=>{
                    window.location = "/reimbursement/view/"+<{$rid}>;
                },2000);
            </script>
            <{/if}>
            <{if $is_admin}>
            <div class="text-right">
                <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#freeze_box" aria-expanded="false"
                        aria-controls="freeze_box">
                    挂起项目
                </button>
            </div>
            <div class="collapse" id="freeze_box">
                <form class="needs-validation" action="" method="post" id="freeze_form" novalidate>
                    <input type="hidden" name="rid" value="<{$rid}>">
                    <input type="hidden" name="action" value="freeze">
                    <div class="form-group">
                        <label for="remarks" class="bmd-label-floating">挂起 - 备注</label>
                        <textarea class="form-control" name="remarks" id="remarks_freeze" rows="5" required></textarea>
                        <div class="invalid-feedback">必填字段！</div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-danger">确认挂起</button>
                    </div>
                </form>
            </div>
            <{/if}>
            <form class="needs-validation" action="" method="post" id="edit_form" novalidate>
                <input type="hidden" name="rid" value="<{$rid}>">
                <input type="hidden" name="action" value="edit">
                <div class="form-group">
                    <label for="name" class="bmd-label-floating">报销内容</label>
                    <input type="name" name="name" class="form-control" id="name" value="<{$reim['name']}>" required>
                    <div class="invalid-feedback">报销内容是必填字段</div>
                </div>
                <div class="form-group">
                    <label for="remarks" class="bmd-label-floating">备注</label>
                    <textarea class="form-control" name="remarks" id="remarks" rows="5" required><{$reim['remarks']}></textarea>
                    <div class="invalid-feedback">备注是必填字段！</div>
                </div>
                <div class="form-group">
                    <label for="department" class="bmd-label-floating">部门</label>
                    <input type="text" name="department" class="form-control" id="department" value="<{$reim['department']}>" required> 
                    <div class="invalid-feedback">部门是必填字段！</div>
                </div>
                <div class="form-group">
                    <label for="money" class="bmd-label-floating">报销金额</label>
                    <input type="number" name="money" class="form-control" id="money" value="<{$reim['money']}>" required>
                    <div class="invalid-feedback">金额是必填字段！</div>
                </div>

                <div id="upload_tip" class="alert alert-warning alert-dismissible show text-center" role="alert">
                    <{if $invoice_type}>
                    请将纸质发票自行请送往指定地点。
                    <{else}>
                    请务必确认发票文件有效
                    <{/if}>
                </div>
                <br>
                <div class="row">
                    <{if !$invoice_type}>
                    <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <{if !empty($reim['invoice']) }>
                            <a class="btn btn-primary" href="/file/invoice/<{$reim['invoice']}>.pdf" download="发票.pdf" role="button"><i class="MDI download"></i>下载原发票文件</a>
                            <{/if}>
                            <label id="invoice_tip" class="btn btn-danger" for="invoice">重新上传发票文件</label>
                            <input type="file" class="form-control-file" name="invoice" id="invoice" aria-describedby="invoiceHelp" style="display: none">
                            <small id="invoiceHelp" class="form-text text-muted"> 请上传完整的pdf发票文件</small>
                        </div>
                    </div>
                    <{/if}>
                    <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <{if !empty($reim['transaction_voucher'])}>
                                <img class="img-fluid" src="/file/transaction_voucher/<{$reim['transaction_voucher']}>.jpg" class="img-fluid">
                                <small class="text-muted">原交易凭证</small><br><small><a class="btn btn-success" href="/file/transaction_voucher/<{$reim['transaction_voucher']}>.jpg" target="_blank" role="button">查看大图</a></small><br>
                            <{/if}>
                            <label class="btn btn-danger" for="transaction_voucher">重新上传交易凭证</label>
                            <input type="file" class="form-control-file" name="transaction_voucher" id="transaction_voucher" aria-describedby="transaction_voucherHelp" style="display: none">
                            <img id="preview_transaction_voucher" class="img-fluid" src="" class="img-fluid hidden">
                            <small id="preview_tag" class="form-text text-muted" style="display: none">预览</small><br>
                            <small id="transaction_voucherHelp" class="form-text text-muted"> 请上传清晰的jpg图片文件</small>
                        </div>
                    </div>
                    <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <{if !empty($reim['declaration'])}>
                                <a class="btn btn-primary" href="/file/declaration/<{$reim['declaration']}>.docx" download="申报单.docx" role="button"><i class="MDI download"></i>点我下载申报单</a><br>
                            <{/if}>
                            <label class="btn btn-danger" for="declaration">重新上传申报单</label>
                            <input type="file" class="form-control-file" name="declaration" id="declaration" aria-describedby="declarationHelp" style="display: none">
                            <small id="declarationHelp" class="form-text text-muted"> 请上传docx文件</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="remarks_edit" class="bmd-label-floating">此次编辑的备注</label>
                    <textarea class="form-control" name="remarks_edit" id="remarks_edit" rows="5" required></textarea>
                    <div class="invalid-feedback">必填字段！</div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-danger">确认修改</button>
                </div>
            </form>
            <{else}>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><{$error}></strong>
            </div>
            <{if isset($allow_refresh) && $allow_refresh}>
                <form action="" method="POST" class="text-center">
                    <input type="hidden" name="action" value="refresh">
                    <button type="submit" class="btn btn-primary">取消挂起 并 恢复到待审核状态</button>
                </form>
            <{/if}>
            <{/if}>
        </div>
        <div class="card-footer text-muted text-right">
            <a class="btn btn-primary" href="/reimbursement/view" role="button">返回至项目列表</a>
        </div>
    </div>
</div>
<script>
    $('#transaction_voucher').change(function() { 
    var file = this.files[0];
    var filename = $('#transaction_voucher').val().split('\\').pop();
    var extension = filename.split('.').pop();
    if(extension != 'jpg'){
        $('#transaction_voucherHelp').text('只允许上传jpg类型的图片文件!');
        $('#preview_transaction_voucher').fadeOut();
        $('#preview_tag').fadeOut();
    }else{
        $('#transaction_voucherHelp').text('已选择: '+filename);
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => {
            $('#preview_transaction_voucher').attr('src',reader.result).slideDown();
            $('#preview_tag').fadeIn();
        }
    }
    
});

$('#declaration').change(function() { 
    var filename = $('#declaration').val().split('\\').pop();
    var extension = filename.split('.').pop();
    if(extension != 'docx'){
        $('#declarationHelp').text('只允许上传docx类型的文件!');
    }else{
        $('#declarationHelp').text('已选择: '+filename);
    }
});

$('#invoice').change(function() { 
    var filename = $('#invoice').val().split('\\').pop();
    var extension = filename.split('.').pop();
    if(extension != 'pdf'){
        $('#invoiceHelp').text('只允许上传pdf类型的文件!');
    }else{
        $('#invoiceHelp').text('已选择: '+filename);
    }
});

$('#money').on('change', function () {
    if($(this).val() != ''){
        var money = parseInt($(this).val());
        $('#upload_tip').removeClass("alert-danger");
        $('#upload_tip').addClass("alert-warning");
        if(money < 0 ){
            $('#upload_tip').text("输入的金额不正确");
        }
        <{if $invoice_type}>
        if(money <= 199 && money >= 0){
            $('#upload_tip').html("请将纸质发票自行请送往指定地点。");
        }else if(money <= 499){
            $('#upload_tip').html("请将纸质发票自行请送往指定地点。<br>该额度必须上传交易凭证(支付截图等...)。");
        }else if(money <= 999){
            $('#upload_tip').html("请将纸质发票自行请送往指定地点。<br>该额度必须上传交易凭证(支付截图等...)<br>该额度必须上传申报单。");
        }else{
            $('#upload_tip').removeClass("alert-warning");
            $('#upload_tip').addClass("alert-danger");
            $('#upload_tip').text(<{if isset($GLOBALS['debug'])&&$GLOBALS['debug']}>"有内鬼，交易终止"<{else}>"风险过大拒绝交易！"<{/if}>);
        }
        <{else}>
        if(money <= 199 && money >= 0){
            $('#upload_tip').html("电子发票请务必上传发票文件");
        }else if(money <= 499){
            $('#upload_tip').html("电子发票请务必上传发票文件<br>该额度必须上传交易凭证(支付截图等...)。");
        }else if(money <= 999){
            $('#upload_tip').html("电子发票请务必上传发票文件<br>该额度必须上传交易凭证(支付截图等...)<br>该额度必须上传申报单。");
        }else{
            $('#upload_tip').removeClass("alert-warning");
            $('#upload_tip').addClass("alert-danger");
            $('#upload_tip').text(<{if isset($GLOBALS['debug'])&&$GLOBALS['debug']}>"有内鬼，交易终止"<{else}>"风险过大拒绝交易！"<{/if}>);
        }
        <{/if}>
        
    }
});


    window.addEventListener("load",function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);

    }, false);
    });
</script>