<style>
    #rbm-approval{
        margin-top: 1.5rem;
    }
    tr{
        border-top-style: hidden;
    }
    textarea{
        resize: none;
    }
    body{
        margin-bottom: 4rem;
    }
    .page-item{
        text-transform: unset;
    }
    h6.mundb-text-truncate-1,p.mundb-text-truncate-1{
        margin-bottom: 0;
        height: 1rem;
        line-height: 1rem;
    }
    .td-a{
        padding: 0;
        margin: 0;
    }
</style>
<div class="container mundb-standard-container">
    <div class="card">
        <div class="card-header">
            审批
        </div>
        <div class="card-body">
            <{if isset($err_info)}>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <{$err_info}>
            </div>
            <{/if}>
            <{if isset($success_info)}>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <{$success_info}>
            </div>
            <{/if}>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <ul class="list-group">
                        <span>待审批项目</span>
                        <{if isset($wait_approval_list) }>
                            <{foreach $wait_approval_list as $key => $value}>
                            <li class="btn btn-default list-group-item active" id="rbm-<{$value['rid']}>"><h6 class="mundb-text-truncate-1"><{$value['name']}></h6><br><p class="mundb-text-truncate-1"><{$value['remarks']}></p></li> <!-- 此处rbm是reimbursement的缩写 -->
                            <{/foreach}>
                        <{/if}>
                    </ul>
                </div>
                <div  class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                    <div id="rbm-view" class="container-fluid card">
                        <div class="alert alert-primary text-center" role="alert">
                            <strong>请在左侧选择项目</strong>
                        </div>
                    </div>
                    <div id="rbm-approval" class="container-fluid card">
                        <div class="card-header">
                            审批信息
                        </div>
                        <div class="card-body">
                            <form action="?action=approval" method="POST" class="needs-validation" novalidate>
                                <input type="hidden" name="rid" id="rid">
                                <div class="form-group">
                                    <label for="remarks" class="bmd-label-floating">批注:</label>
                                    <textarea class="form-control" name="remarks" id="remarks" rows="5" required></textarea>
                                    <div class="invalid-feedback">必须填写的字段</div>
                                </div>
                                <div class="form-check form-check-inline">
                                    <div class="radio">
                                        <label class="form-check-label text-muted">
                                            <input class="form-check-input" type="radio" name="result" id="result-1" value="1"  required> 批准
                                        </label>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="radio">
                                        <label class="form-check-label text-danger">
                                            <input class="form-check-input float-right" type="radio" name="result" id="result-0" value="0"  required> 驳回
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load",function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);

    }, false);
    });

    $('.list-group-item').on(
        'click',function() {
            var rid = $(this).attr('id').split('-')[1];
            $('#rid').val(rid);
            $('#rbm-view').load('/reimbursement/view/'+rid+'?approval=1',()=>{
                $('#rbm-view').find('.container').removeClass('container').addClass('container-fluid')
            });
        }
    );

</script>
